<h2>Mr Intra</h2>
<p>Mr Intra is designed to make your intra viewing easier (and uglier). Type a username below to begin.</p>
<%= form_tag("/pages/shower", method: "get") do %>
  <%= label_tag("Search for:") %>
  <%= text_field_tag "usernamesearch" %>
  <%= submit_tag("Show") %>
<% end %>
<%= link_to 'See all users', :controller => "pages", :action => :allusers %>
