<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>

<h1><%= @first_name %> <%= @last_name %>'s page</h1>
<p>username:    <%= @login %></p><br></br>
<p>campus:    <%= @campus_name %></p><br></br>
<p>level:    <%= @level %></p><br></br>
<p>correction points:    <%= @correction_points %></p><br></br>
<p>wallet:    <%= @wallet %></p><br></br>
<table>
  <caption>Projects With Marks</caption>
  <tr>
    <th>Project</th>
    <th>Marks</th>
  </tr>
  <% for i in 0..@validated_arr.size-1 %>
    <tr>
      <td><%= @validated_arr[i][0] %></td>
      <td align="center"><%= @validated_arr[i][1] %></td>
    </tr>
  <% end %>
</table>
<br></br>
<table>
  <tr>
    <th>Projects With 0%</th>
  </tr>
  <% for i in 0..@invalidated_arr.size-1 %>
    <tr>
      <td><%= @invalidated_arr[i] %></td>
    </tr>
  <% end %>
</table>
<br></br>
<table>
  <tr>
    <th>Projects Not Registered</th>
  </tr>
  <% for i in 0..@unregistered_arr.size-1 %>
    <tr>
      <td><%= @unregistered_arr[i] %></td>
    </tr>
  <% end %>
</table>
<br></br>
<table>
  <tr>
    <th>Projects Left Unmarked</th>
  </tr>
  <% for i in 0..@unmarked_arr.size-1 %>
    <tr>
      <td><%= @unmarked_arr[i] %></td>
    </tr>
  <% end %>
</table>
<br></br>
<p><%= @num_validated %> projects validated (excluding exams)</p>
<p><%= @num_exams_validated %> exams validated </p>
<p><%= @num_missed %> projects missed </p>
<p><%= @num_exam_missed %> exams missed </p>
<table>
  <caption> Score </caption>
  <tr>
    <th>Criteria</th>
    <th>Value</th>
  </tr>
  <% for i in 0..@score_arr.size-1 %>
    <tr>
      <td><%= @score_arr[i][0] %></td>
      <td align="center"><%= @score_arr[i][1] %></td>
    </tr>
  <% end %>
  <th>FINAL SCORE </th>
  <th align="center"><%= @final_score %></th>
</table>
<p>achievements:    <%= @achievements %></p><br></br>
<p>titles:    <%= @titles %></p><br></br>
<p>partnerships:    <%= @partnerships %></p><br></br>
<p>partnerships:    <%= @hash %></p><br></br>


