<h1><%= @first_name %> <%= @last_name %>'s page</h1>
<p>username:    <%= @login %></p><br></br>
<p>campus:    <%= @campus_name %></p><br></br>
<p>level:    <%= @level %></p><br></br>
<p>correction points:    <%= @correction_points %></p><br></br>
<p>wallet:    <%= @wallet %></p><br></br>
<p>projects with marks:    <%= @validated_arr %></p><br></br>
<p>projects with 0%:    <%= @invalidated_arr %></p><br></br>
<p>projects not registered: <%= @unregistered_arr %></p><br></br>
<p>achievements:    <%= @achievements %></p><br></br>
<p>titles:    <%= @titles %></p><br></br>
<p>partnerships:    <%= @partnerships %></p><br></br>
<p>partnerships:    <%= @hash %></p><br></br>


