<h1><%= @first_name %> <%= @last_name %>'s page</h1>
<p>username:    <%= @login %></p><br></br>
<p>campus:    <%= @campus_name %></p><br></br>
<p>link to:    <%= link_to(@first_name + "'s intra page", @intra_link) %></p><br></br>
<p>level:    <%= @level %></p><br></br>
<p>correction points:    <%= @correction_points %></p><br></br>
<p>wallet:    <%= @wallet %></p><br></br>
<p>projects passed:    <%= @validated_arr %></p><br></br>
<p>projects failed:    <%= @invalidated_arr %></p><br></br>
<p>achievements:    <%= @achievements %></p><br></br>
<p>titles:    <%= @titles %></p><br></br>
<p>partnerships:    <%= @partnerships %></p>
